<!DOCTYPE html>
<html>
<head>
	<title>GMS tag cloud demo</title>
	<link href="/resources/stylesheets/tx3-tag-cloud.css" media="screen" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/resources/javascripts/jquery.js" ></script>
	<script type="text/javascript" src="/resources/javascripts/jquery.tx3-tag-cloud.js" ></script>
</head>
<body>

	<ul id="tagcloud" style="width:30%;">
		{{range $index, $element := .Keywords}}
			<li data-weight="{{$element.Weight}}"><a id="keyword={{$element.Name}}"  href="#">{{$element.Name}}</a></li>
		{{end}}
	</ul>


	
	<script type="text/javascript">
	// default multiplier is "1"
	$(document).ready(function(){
		$("#tagcloud").tx3TagCloud({
			multiplier: 1
		});
	});
	
	{{range $index, $element := .Keywords}}
	document.getElementById("keyword={{$element.Name}}").addEventListener('click', function() {
		$.get("/showlist?keyword={{$element.Name}}", "", function(data, status) {
			document.getElementById("keyword={{$element.Name}}").innerHTML = data.Name
		})
	}, false);

		 

	{{end}}
	</script>
</body>
</html>
